@charset "UTF-8";
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  background: #16A6B6;
}

.hero-unit .radio-inline + .radio-inline, .hero-unit .checkbox-inline + .checkbox-inline {
  margin-left: 0px;
}

.message-bar {
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  z-index: 9999;
}

.message-bar .message {
  float: left;
}

.message-bar #close-btn {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.sidebar .nav.nav-header {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.event-card {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  background-color: #eee;
  background: linear-gradient(#f8f8f8, #eee);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.event-card.active {
  background: linear-gradient(#eee, #ddd);
}

.event-card.add a {
  min-height: 20px;
}

.event-card a {
  display: block;
  min-height: 60px;
  padding: 10px 15px;
  color: #333;
}

.event-card a:hover {
  text-decoration: none;
}

.event-card a p {
  margin-bottom: 8px;
}

.event-card a p.big-text {
  font-size: 16px;
  line-height: 16px;
}

.event-card a .event-date {
  display: block;
  position: absolute;
  left: 16px;
  top: 12px;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-top: 16px solid #333;
  border-radius: 2px;
}

.event-card a .event-date .month {
  position: absolute;
  left: 9px;
  top: -14px;
  font-size: 8px;
  color: #fff;
}

.event-card a .event-date .date {
  position: absolute;
  left: 10px;
  top: 4px;
  font-size: 16px;
}

.event-card a .event-name, .event-card a .event-description {
  position: relative;
  left: 64px;
  width: calc(100% - 64px);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.event-card a .event-description {
  margin-bottom: 0;
}

.correct-answer {
  font-weight: bold;
}

.breadcrumb {
  margin-top: 10px;
}

.circle-logo {
  /* サイズ指定 */
  width: 175px;
  height: 175px;
  /* 背景色 */
  background-color: #ea7b80;
  /* 角を丸くする */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
}

.circle-info {
  padding-top: 68px;
  /* 真ん中にまで文字を下ろす */
}

.circle-logo h1,
.circle-logo p {
  text-align: center;
  /* 中央寄せ */
  color: #fff;
  /* 文字を白色に */
  margin: 0;
  /* h1とpの余白をリセット */
}

/* あとは文字サイズや太字を指定 */
.circle-logo h1 {
  font-size: 40px;
}

.circle-logo p {
  font-size: 10px;
  font-weight: bold;
}

.rank-info {
  text-align: center;
  margin-top: 10px;
}

l {
  counter-reset: num;
  /*カウントリセット*/
}

.rank {
  list-style: none;
  /*デフォルトナンバリングを消す*/
  position: relative;
  margin-top: 25px;
  padding: 0;
  line-height: 15px;
  /*行間*/
  *list-style-type: decimal;
  /*IE7用ハック*/
}

.rank:before {
  content: counter(num);
  /*カウンターのインデックスを挿入*/
  counter-increment: num;
  /*ナンバリングを生成*/
  /* ここから番号のスタイル */
  position: absolute;
  top: -15px;
  /*コンテンツの上へ*/
  width: 20px;
  /*幅*/
  color: #fff;
  /*文字色*/
  background: url(/views/util/img/ico_rank.png) no-repeat;
  /*背景*/
  font-family: 'Federo', sans-serif;
  /*webフォント*/
  font-size: 80%;
  text-align: center;
}

h3.question {
  color: #ea7b80;
}

.btn-answer {
  color: #fff;
  background-color: #ea7b80;
}
.navbar-header {
  /*紫*/
  /*background-color: #a45abc;*/

  /*どピンク*/
  /*background-color: #ef4dc3;*/

  /*うすいピンク*/
  /*background-color: #f7bbe7;*/

  /*濃い目オレンジ*/
  /*background-color: #f17855;*/

  /*黄色*/
  /*background-color: #f3cf4f;*/

  /*サーモンピンク*/
  background-color: #ea7b80;

  /*みずいろ*/
  /*background-color: #55cef1;*/

  /*うすいオレンジ*/
  /*background-color: #f79c5e;*/

}

.navbar-header .navbar-brand {
  color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #72bc5a;
  border-color: #72bc5a;

  /*background-color: #55cef1;
  border-color: #55cef1;*/

  background-color: #ea7b80;
  border-color: #ea7b80;
}

.title-image {
  margin-bottom: 15px;
}

.red {
  color: red;
}
