@charset "UTF-8";
ol {
  counter-reset: num;
  /*カウントリセット*/
}

.rank {
  list-style: none;
  /*デフォルトナンバリングを消す*/
  position: relative;
  margin-top: 25px;
  padding: 0;
  line-height: 15px;
  /*行間*/
  *list-style-type: decimal;
  /*IE7用ハック*/
}

.rank:before {
  content: counter(num);
  /*カウンターのインデックスを挿入*/
  counter-increment: num;
  /*ナンバリングを生成*/
  /* ここから番号のスタイル */
  position: absolute;
  top: -15px;
  /*コンテンツの上へ*/
  width: 20px;
  /*幅*/
  color: #fff;
  /*文字色*/
  background: url(/views/util/img/ico_rank.png) no-repeat;
  /*背景*/
  font-family: 'Federo', sans-serif;
  /*webフォント*/
  font-size: 80%;
  text-align: center;
}
