<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/main.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/custom.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/dashboard.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/ranking.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/question.css">
  <link rel="stylesheet" href="/Users/matsuMac/Develop/question/quiz_html/css/screen.css">
  <!-- endbuild -->
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">QUIZ-Party</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li ng-repeat="item in menu">
              <a ng-href="{{item.link}}">HOME</a>
            </li>
          </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
          <li ng-show="isLoggedIn()"><a href class="navbar-text">{{ getCurrentUser().name }}</a> </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          </ul>
          -->
        </div>
      </div>
    </div>

    <h2 class="pull-left">イベント１</h2>

    <table class="table table-hover">
      <tr><td>日時</td><td>2014 07/11</td></tr>
      <tr><td>説明</td><td>{{event.description}}</td></tr>
      <tr><td>URL</td><td>
        <a href=""></a>
        <a href="">発行</a>
      </td></tr>
    </table>

    <div class="btn btn-default" ng-click="clearEventData(event.id)">イベントの登録済みユーザを削除</div>

    <h3>問題一覧</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default" ng-repeat="q in questions | orderBy:'q.question_number'">
        <div class="panel-heading" id="question{{$index}}">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
              1 : パンはパンでも食べられないパンは？
            </a>
          </h4>
        </div>
        <div id="collapse{{$index}}" class="panel-collapse collapse">
          <div class="panel-body">
            <ol>
              <li ng-repeat="c in choices[$index] | orderBy:'c.choice_number'">
                <span ng-class="{'correct-answer': c.correct_flag}">{{c.sentence}}</span>
              </li>
            </ol>
            <a class="clickable pull-right" ng-click="upsertQuestion($index)">問題を編集</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="clickable" ng-click="upsertQuestion()">＋新規作成</a>
          </h4>
        </div>
      </div>
    </div>

    <div class="btn btn-lg btn-primary pull-right" ui-sref="adminQuestion({eventId: event.id})">問題開始</div>

  </div>



</body>
</html>
